<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/chat.css">
    <script defer src="/public/js/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="icon" href="/public/img/conversation.svg">
</head>

<body>
    <div class="row">
        <div class="col">
            <div class="nav-bar py-2">
                <img src="/public/img/conversation.svg" class="app-logo-main img-fluid"  btn toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <h4 class="room-code text-break fw-bolder d-inline p-2">
                    <%= code %>
                </h4>
                <img src="/public/img/door.svg" class=" logout-icon img-fluid" alt="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Log Out">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 chat-space h-100 position-relative">
            <div class="area h-100 w-100" >
                <ul class="circles h-100 w-100">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                </ul>
        </div >
            <div class="message-container px-3  h-100">
                
            </div>
        </div>
        <div class="col message-input align-self-end">
            <form class="form px-3 py-2" method="POST">
                <input type="text" class="message-content form-control " placeholder="Message..." name="message">
                <button type="submit" class="message-send btn">
                    <img src="/public/img/send.png" class="send-icon" alt="">
                </button>
            </form>
        </div>
    </div>

    </div>


    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <img src="/public/img/conversation.svg" class="app-logo img-fluid"alt="">
        </div>
        <div class="offcanvas-body">
            <ul class=" list-group overflow-scroll px-2">
                <% for(let user of users) { %>
                    <li class="list-group-item p-3 mb-2 rounded d-flex" id=<%=user._name %> data-index=<%=user._index%>>
                            <div class="user position-relative">
                                <img src="/public/png/<%=user._index%>.png" class="user-image img-fluid" alt="">
                                <p class="user-name m-1 p-2 d-inline text-wrap text-dark">
                                    <%= user._name %>
                                </p>
                            </div>
                    </li>
                    <%} %>
            </ul>
        </div>
    </div>


</body>

</html>